@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600;700&family=Playfair+Display&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'EB Garamond', serif;
    overflow-x: hidden;
}
nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
nav ul li {
    list-style: none;
    margin: 10px 20px;
}
nav li:first-child img {
    height: 80px;
}
nav li:first-child {
    margin-right: auto;
    margin-left: 100px;
}
nav li:last-child {
    margin-left: auto;
    margin-right: 100px;
}
nav li button {
    padding: 7px 30px;
    background-color: black;
    border: 0px;
    border-radius: 20px;
    color: white;
}
section {
    padding-top: 125px;
    display: flex;
    flex-wrap: wrap;
}
section h1 {
    margin-left: 100px;
    font-size: 40px;
}
section .one{
    height: 350px;
    width: 50vw;
    border-radius: 40px;
    margin-left: auto;
    object-fit: cover;
    transform: translate(25%, -5%);
}
section .two {
    height: 400px;
    width: 50vw;
    border-radius: 40px;
    margin-right: auto;
    object-fit: cover;
    transform: translate(-10%, -30%);
}
 main {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 50%;
    margin: 30px;
    
 }
 main .left {
    display: grid;
    grid-template-rows: repeat(5,20%);
    width: 80%;
    margin-left: 100px;

 }
main .left .option {
    display: grid;
    grid-template-columns: 20% 80%;
}
.option img { 
    height: 50px;
    margin: auto;
    
}
/* main .left .option img {
    width: 20%;
    height: 50%;
} */
main .option {
    height: 10vh;
}
main .left .option div {
margin: auto;
}
main .right img {
    margin-left: 15%;
    width: 80%;
    border-radius: 10px;
}
.properties {
    margin-top: 100px;
    margin-left: 100px;
}
.properties h1 {
    margin-bottom: 50px;

}
.properties .cards {
display: grid;
grid-template-columns: repeat(2, 50%);
}
.properties .card {
    display: flex;
    background-color: rgb(241, 237, 237);
    height: 300px;
    width: 80%;
    border-radius: 3%;
}
.properties .card img {
    width: 50%;
}
.properties .card .option {
    display: grid;
    grid-template-rows: repeat(5, 20%);
}
.properties .card .option h1 {
    height: fit-content;
    font-size: 100%;
    margin: 30px;
}
.properties .card .option div {
    display: flex;
    align-items: center;
}
.properties .card .option div p {
    margin-left: 20px;
    font-size: 12px;
}

.properties .card .option div img {
    height: 30px;
    width: 30px;
    margin-left: 20%;
}
.customers {
    margin-top: 200px;
}
.customers h1 {
    margin-left: 100px;
    margin-bottom: 50px;
}
.customers .cards {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
.customers .cards .left img {
    height: 50%;
    border-radius: 10%;
    margin-left: 100px;
}
.customers .cards .right  {
    display: flex;
    align-items: center;
    height: 50%;
}